@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    180deg,
    rgb(5, 5, 127) 0%,
    rgb(12, 12, 12) 100%
);
background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-50svw {
    width: 20svw;
  }

  .h-50svh {
    height: 50svh;
  }
}

.hamburger-menu {
  animation: slide-in 0.5s linear;
  transform-origin: left center;
}

.hamburger-menu-reverse {
  animation: slide-out 0.5s linear reverse;
  transform-origin: left center;
}

@keyframes slide-in {
  from {
    scale: 0;
    transform: translateX(-100%);
  }
  to {
    scale: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
  }
  to {
    scale: 0;
    transform: translateX(-100%);
  }
}
